{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Zeroconf web browser</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
     {{ bootstrap.load_css() }} {# disable standard themes #}
    {# <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css"> #}



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-2 nav-pills">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='Avahi-logo.svg') }}" width="30" height="30" alt="">
                    Zeroconf Browser
                </a>
            </div>
            <ul class="navbar-nav mr-auto">
                {{ render_nav_item('page_home', 'Home', use_li=True) }}

                <!--<li class="nav-item"><a class="nav-link" href="https://bootstrap-flask.readthedocs.io/" target="_blank">Documentation</a></li>
                <li class="nav-item"><a class="nav-link" href="https://github.com/greyli/bootstrap-flask" target="_blank">GitHub</a></li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Listeners</a>
                    <div  class="dropdown-menu">
                        {% if servicestat %}
                            {% for name in servicestat %}
                                <a class="dropdown-item" href="{{ url_for('page_browserajax', servicename=name) }}"><span class="badge badge-pill badge-info">{{ servicestat[name] }}</span> {{ name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div >
                </li>

                {{ render_nav_item('page_scanajax', 'Scan', use_li=True) }}
            </ul>
        </div>
    </nav>

    <main class="container">
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}
        {% endblock %}
    </main>

    <footer class="text-center">
        <div class="footer fixed-bottom">
        {% block footer %}
            <small> Zeroconf browser
            </small>
        {% endblock %}
        </div>
    </footer>

    {{ bootstrap.load_js() }}
    {% block endscript %}
    {% endblock %}
</body>
</html>