{% extends 'base.html' %}

{% block content %}
    <h1>Zeroconf monitored Service types</h1>
<ul>
    {% if servicestat %}

        {% for name in servicestat %}
            <li> <span class="badge badge-pill badge-info">{{ servicestat[name] }}</span> <a href='{{ url_for("page_browserajax", servicename=name ) }}'>{{name}}</a>  </li>
        {% endfor %}
    {% endif %}
</ul>
    <h1>Scanned Zeroconf active services types</h1>
    <p id="scanpending" ></p>
    <div id="scanning" style="display:none;">
        <img src="{{ url_for('static', filename='loading.gif') }}">
    </div>
    <form method="POST" action="{{url_for ('data_register') }}" id="form_register">

    <table class="table table-hover">
      <thead>
        <tr >
            <th scope="col">Service types</th>
            <th scope="col">Register</th>

        </tr>
      </thead>
      <tbody id="scanned">

      </tbody>
      <tfoot>
        <tr >
            <th scope="col"></th>
            <th scope="col"> <button type="submit" id="registerbtn" class="btn btn-primary" form="form_register">Register</button></th>

        </tr>
      </tfoot>
    </table>
    </form>
{% endblock %}

{% block endscript %}
<script type="text/javascript">


    $(document).ready(function(){

        jQuery.support.cors = false;

        $("#scanpending").text('Scanning...')
        $("#scanning").css("display", "block");
        $.ajax(
        {
            type: "GET",
            url: "{{ url_for('data_scanner') }}",
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            complete: function () {
                        $("#scanpending").text('')
                        $("#scanning").css("display", "none");
            },
            success: function (data) {
                var trHTML = '';

                $.each(data, function (i, item) {
                    trHTML += '<tr>';
                    trHTML += '<td>' + item + '</td>';
                    trHTML += '<td> <div class="custom-control custom-switch"> <input type="checkbox" class="custom-control-input" name="'+ item +'" id="'+ item +'" checked="" form="form_register"> <label class="custom-control-label" for="'+ item +'"></label></div></td>'
                    trHTML += '</tr>';
            });

            //document.getElementById("scanned").innerHTML = trHTML;
            $("#scanned").html (trHTML);

            },

            error: function (msg) {
                alert(msg.responseText);
            }
        });
})
</script>
{% endblock %}