<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <!--
                {{ render_nav_item('test_form', 'Form', use_li=True) }}
                {{ render_nav_item('test_nav', 'Nav', use_li=True) }}
                {{ render_nav_item('test_pagination', 'Pagination', use_li=True) }}
                {{ render_nav_item('test_static', 'Static', use_li=True) }}
                {{ render_nav_item('test_flash', 'Flash Messages', use_li=True) }}
                {{ render_nav_item('test_table', 'Table', use_li=True) }}
                {{ render_nav_item('test_icon', 'Icon', use_li=True) }}
                -->
</body>
</html>